.container{
  display: flex;
  justify-content: center;
  width:65%;
  margin-bottom: 6rem;
  position: relative;
  margin: auto;
}

@media(max-width: 770px) {
  .container{
    width:100%;
    margin-bottom: 2rem;
  }
}