body{
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


@media(max-width: 770px){

}